# Ignore node_modules and build folders in both frontend & backend
node_modules/
.next/
dist/

# Ignore environment files (frontend & backend)
.env
.env.local

# Mac & Windows system files
.DS_Store
Thumbs.db