# Ignore node_modules and build folders in both frontend & backend
node_modules/
.next/
dist/

# Graphify generated graphs (run: py -m graphify update <folder>)
graphify-out/

# Ignore environment files (frontend & backend)
prompguru-firebase-adminsdk-fbsvc-749f5b5eb0.json
*firebase-adminsdk*.json
**/.env
**/.env.local
**/.env.production
**/.env.development

# Mac & Windows system files
.DS_Store
Thumbs.db



